*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 15px;
}

.app-logo{
    vertical-align: middle;
}

.app-title{
    display: inline-block;
    vertical-align: middle;
}

.container{
    background-color: white;
    width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 30px;
    border-radius: 5px;
}

.navigation{
    padding-top: 15px;
    padding-bottom: 7px;
}

.botton{
    padding: 7px;
    border-radius: 5px;
}

.task{
    background-color: #47ADF1;
    border-color: #47ADF1;
    color: white;
}

.section{
    background-color: white;
    border-color: #D3D8DC;
    color: #D3D8DC;
}

.main-section{
    color: #4E515A;
}

.liste{
    padding-bottom: 25px;
}

.first{
    padding-top: 25px;
}

.element{
    padding-top: 8px;
    padding-bottom: 18px;
}

.circle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
}

.done{
    color: #99D8CB;
    border-color: #99D8CB;
}

.to-do{
    color: #F28C86;
    border-color: #F28C86;  
}

.tag{
    color: white;
    border-radius: 12px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.editorial{
    background-color: #45ABE9;
}

.q1{
    background-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
}

.website{
    background-color: #D863A0;
}

.sales{
    background-color: #B0C926;
}